<div class="card shadow p-3 mb-5 bg-white rounded animate__animated animate__fadeInDown">
  <div class="card-body">
    <%= render 'shared/errors'%>
    <%= form_with model: @article,local: true do |f| %>
      <div class="form-group mb-3 row">
        <div class="col-2 col-mb-2">
          <h4><%= f.label :title , style:"display:block",class: "form-label"%></h4>
        </div>
        <div class="col-10 col-mb-10">
          <%= f.text_field :title,class: "form-control shadow rounded", placeholder: "Title"%>
        </div>
      </div>
      <div class="form-group mb-3 row">
        <div class="col-2 col-mb-2">
          <h4><%= f.label :description, style:"display:block",class: "form-label"%></h4>
        </div>
        <div class="col col-mb-10">
          <%= f.text_area :description,class:"form-control shadow rounded"%>
        </div>
      </div>
      <div class="d-flex form-group justify-content-end">
        <%= link_to "Back to articles", articles_path,:class=>"btn btn-outline-danger me-2 shadow rounded" %>
        <%= f.submit :class =>"btn btn-outline-success shadow rounded"%>
      </div>
    <% end %>
  </div>
</div>
