<div class="container">
  <p style="color: green"><%= notice %></p>
  <h1 class="text-center mt-4">Articles</h1>
  <%= link_to "Home",root_path ,:class => "btn btn-outline-info text-right mb-1"%>
  <%= link_to "New article", new_article_path ,:class => "btn btn-outline-info ml-5 mb-1 text-right" %>
  <div class="row">
    <% @articles.each do |article|%>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h2 class="text-center fw-bold"><%= article.title %></h2>
            </div>
            <hr>
            <div class="card-subtitle mb-2 text-muted">Programming</div>
            <p class="card-text"><%= truncate(article.description,length:50)%></p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col">
                <small>
                  <h6 class="text-center">Created At</h6>
                  <p class="d-flex justify-content-center mb-0 badge rounded-pill bg-success"><%= time_ago_in_words(article.created_at)%></p>
                </small>
              </div>
              <div class="col">
                <small>
                  <h6 class="text-center">Updated At</h6>
                  <p class="d-flex justify-content-center mb-0 badge rounded-pill bg-success"><%= time_ago_in_words(article.updated_at)%></p>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
