<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Betalog", root_path, :class => "navbar-brand",:id =>"logo"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, :class => "nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to "Bloggers", users_path, :class => "nav-link active"%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if logged_in? %>
              <li><%= link_to "Create a New Article",new_article_path, :class => "dropdown-item"%></li>
            <% end %>
            <li><%= link_to "View Article",articles_path, :class => "dropdown-item"%></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <% if logged_in? %>
          <div class="username me-2 my-auto p-0">
            <%= link_to current_user.username.upcase, user_path(current_user), class:"text-center text-light text-decoration-none"%>
          </div>
          <%= button_to "Log out",logout_path, method: :delete, class: "btn btn-outline-warning me-1"%>
        <% else %>
          <%= link_to "Login",login_path, class: "btn btn-outline-warning me-1"%>
          <%= link_to "Sign up",signup_path, class: "btn btn-outline-warning"%>
        <% end %>
      </div>
    </div>
  </div>
</nav>
